
<div class="non_stick_div">

	<%= render 'shared/search_form' %>

	<div class="hidden-xs hidden-sm" style="background:#fff;">
		<%= render 'google/ad_300px_01' %>
	</div>

	<%= render 'posts/pickup_posts' %>

	<div class="hidden-md hidden-lg">
		<%= render 'posts/relative_posts' %>
	</div>

</div><!-- /.non_stick_div -->



<div class="stick_div hidden-xs hidden-sm">
	<div style="background:#fff;">
		<%= render 'google/ad_300px_01' %>
	</div>
	<%= render 'posts/relative_posts' %>
</div><!-- /.stick_div -->




