
<div class="form-group col-md-12 error_message">
	<%= render 'shared/error_messages', object: f.object %>
</div>

<div class="clearfix"></div>

<div class="form-group col-md-6">
	<%= f.label :name %>
	<%= f.text_field :name, class: "form-control" %>
</div>

<div class="clearfix"></div>

<div class="form-group col-md-6">
	<%= f.label :slug %>
	<%= f.text_field :slug, class: "form-control" %>
</div>

<div class="clearfix"></div>

<br>